.banner {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.flat-title {
  font-size: 30px;
  font-weight: bold;
}

.avatar-large {
  width: 70px;
  border-radius: 50%;
}

.flat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flat-info-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flat-extra-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.book-flat {
  border: 1px solid;
  border-color: grey;
  padding: 20px 20px;
}
