<% content_for :title, "Vacation Rentals, Homes, Experiences & Places - Airbnb" %>

<div class="content-index">
  <div class="flats-wrapper" id="flats-two">
    <div class="container-fluid cards-container">
      <!-- THE EYE -->
      <div class="quote">
        <div><p><img src="eye.png" style=" padding-bottom: 5px; width:42px; height:40px; margin-right: 5px;"><strong>Others looking: <%= rand(200..600) %></strong> <em>They’re searching for the same dates as you.</em></p>
        </div>
      </div>
      <!-- CARDS -->
      <div class="row">
        <%= render "helpers/flat_cards" %>
      </div>
    </div>
  </div>

  <!-- MAPS -->
  <div class="hidden-xs hidden-sm" style="position: fixed; right: 0; top: 70px;" id="map_position">
    <div id="map" style="height: 100vh"></div>
  </div>

</div>


<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({provider: { scrollwheel: false, zoomControl: false}, internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();

      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });

  });
</script>
<% end %>
