.search-navbar {
  display: flex;
  align-items: center;
  // background-color: green;
}

#datepicker {
  width: 230px;
  //padding: 0px 10px;
}

#select-guests {
  width: 80px;
}

#search-btn {
  padding: 0px 10px;
}


