<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>albert is testing</p>
<p>text number 2</p>
<p>you forgot this line btw</p>

<%= cl_image_tag("zkgojtd9s2t5cjdsheuj",
      width: 400, height: 300, crop: :fill) %>


<%= link_to "sign out", destroy_user_session_path, method: :delete %>

