
<!-- Search form -->

<form action="/flats/search">
  <div class="search-navbar">
    <div id="search-destination">
      <input name="destination" id="input-destination" type="text" class="navbar-wagon-search-input-sm form-control" placeholder="&#xF002; Anywhere" style="width: 175px; height: 32.5px; margin-right: 10px;">
    </div>
    <div class="input-daterange input-group" id="datepicker">
     <input type="text" class="input-sm form-control " name="daterange" id="daterange" placeholder="Anytime"/>
      <!-- <input type="text" class="input-sm form-control datepicker check" name="search_start" id="from" />
      <span class="input-group-addon">to</span>
      <input type="text" class="input-sm form-control datepicker check" name="search_end" /> -->
    </div>
    <div>
      <select name="guests" id="select-guests" class="form-control input-sm" style="margin-left: 10px;">
        <option value="1">1 guest</option>
        <option value="2">2 guests</option>
        <option value="3">3 guests</option>
        <option value="4">4 guests</option>
        <option value="5">5 guests</option>
        <option value="6">6 guests</option>
        <option value="7">7 guests</option>
        <option value="8">8 guests</option>
        <option value="9">9 guests</option>
        <option value="10">10 guests</option>
      </select>
    </div>
    <div id="search-btn">
      <input type="submit" class="btn btn-danger btn-sm" value="Search">
    </div>
  </div>
</form>


