<!-- Search form -->





<form action="#">
  <div class="search-navbar">
    <div id="search-destination">
      <input id="input-destination" type="text" class="navbar-wagon-search-input-sm" placeholder="Anywhere">
      <button type="submit" class="navbar-wagon-search-btn">
        <!-- <i class="fa fa-search"></i> -->
      </button>
    </div>
    <div class="input-daterange input-group" id="datepicker">
        <input type="text" class="input-sm form-control datepicker check" name="start" />
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control datepicker check" name="end" />
    </div>
    <div>
    <select name="" id="select-guests" class="form-control input-sm">
      <option value="1">1 guest</option>
      <option value="2">2 guests</option>
      <option value="3">3 guests</option>
    </select>
    </div>
    <div id="search-btn">
      <input type="submit" class="btn btn-danger btn-sm" value="Search">
    </div>
  </div>
</form>




