.reviews-wrapper {
}

.review-wrapper {
  position: relative;
  border-bottom: 1px solid rgb(200,200,200);
  // width: 50%;
  padding: 10px;
}

.review-info {
  display: flex;
}

.review-date-name {
  margin-left: 20px;
  p {
    margin: 0px;
    padding: 0px;

  }
}

.review-name {
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.review-date {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.review-body {
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  font-weight: 400;
}


.review-stars {
  position: absolute;
  top: 10px;
  right: 10px;
}

.review-body {
  margin-top: 15px;
}
