
.tabs {
  background: white;
  display: flex;
  color: white;
  margin-top: 10px;
  // padding: 10px 10px 0 10px;
}
.tabs a {
  color: black;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  color: white;
}
.tab {
  background: #FF5A5F;
  flex: 0 0 25%;
  text-align: center;
  padding: 10px 0;
  color: white;
}

.tab.active {
  background: white;
  color: black;
  border: 1px solid;
  border-color: #FF5A5F;
  h3 {
  color: #FF5A5F;
  }
}
